header {
    background-color: #FFA07A80;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: #FFFAF0ff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    padding-left: 25px;
}

nav a, 
nav a:active, 
nav a:focus, 
nav a:hover, 
nav a:visited{
    color: black
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    max-width: 600px;
    margin: auto;
    padding: 20px;

}

table.paper {
    width: 100%;

}

.titulo-table {
    border-bottom: solid thin #000000 ;
    text-align: center;
}

.numero {
    text-align: right;
}

.numero {
    text-align: right;
}

.error {
    color:rgb(75, 74, 72);
    font-size: small; 
    font-style: italic;
    margin: 0;
    line-height: normal;
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color:rgb(75, 74, 72);
}

.pie-pagina {
    padding: 20px;
    border-top: solid thin #A9A9A9 ;
}


