:root {
    --primary-color: #176ab8;
    --secondary-color: #19a171;

    --medium-gray: #666;
    --error-color: var(--primary-color);

    --default-border: solid thin var(--secondary-color)
}


header {
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: var(--secondary-color);
    color: #FFF;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
}

nav a,
nav a:active,
nav a:focus,
nav a:hover,
nav a:visited,
nav a {
    color: white;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

table.paper {
    width: 100%;
}

.titulo-table {
    border-bottom: var(--default-border);
    text-align: left;
}

.numero,
.acciones {
    text-align: right;
}

.error {
    color: var(--error-color);
    font-size: small;
    margin: 0;
    line-height: normal;
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color: var(--medium-gray);
}


.pie-pagina {
    padding: 20px;
    border-top: var(--default-border);
}


.campo-formulario label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin-top: 1rem;
}

.campo-formulario input {
    width: 100%;
}

.lista-errores {
    font-size: 1rem;
    background-color: rgba(200, 0, 0, .25);
    padding: 2rem;
    color: darkred;
    border: solid 2px darkred;
    border-radius: 3px;
    margin: 1rem 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.lista-errores i {
    color: darkred;
    font-size: 1.5rem;
}

.mensaje-error-cabecera {
    color: darkred
}

.mensaje-error p {
    color: darkred;
    font-style: italic;
    margin-top: 2px;
}

.card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 30px;
}

.resultado {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card p {
    font-size: 1.5em;
}

.card p strong {
    font-weight: bold;
}