{% extends "base.html" %}

{% block head_title %}
{{super()}}: Editar movimiento
{% endblock head_title %}

{% block page_title %}
<h1>Editar movimiento</h1>
{% endblock page_title %}

{% block contenido%}

{% if errores %}
<div class="lista-errores">
    <p>
        <i class="fa-solid fa-message-exclamation fa-2xl;"></i>
    </p>
    <div class="mensaje-error-cabecera">
        {% for error in errores %}
        <p>{{ error }}</p>
        {% endfor%}
    </div>
</div>
{% endif %}


<form class="formulario" action="/nuevo" method="POST" novalidate>
    {{ form.csrf_token }}


    <div class="campo-formulario">
        {{ form.moneda_from.label}}
        {{ form.moneda_from() }}
        {% if form.moneda_from.errors %}
        <div class="mensaje-error">
            {% for error in form.moneda_from.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad_from.label}}
        {{ form.cantidad_from() }}
        {% if form.cantidad_from.errors %}
        <div class="mensaje-error">
            {% for error in form.cantidad_from.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {{ form.moneda_to.label}}
        {{ form.moneda_to() }}
        {% if form.moneda_to.errors %}
        <div class="mensaje-error">
            {% for error in form.moneda_to.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="acciones">
        {{ form.calcular(class="blue-button")}}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad_to.label}}
        {{ form.cantidad_to(disabled=True, value=form.cantidad_to.data or '') }}
        {% if form.cantidad_to.errors %}
        <div class="mensaje-error">
            {% for error in form.cantidad_to.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {{ form.cantidad_toH() }}



    <div class="acciones">
        {{ form.submit(class="red-button") }}
    </div>

</form>
{% endblock contenido %}