<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptos - Tabla de movimientos </title>
    <style>
        .lista{
            border: solid thin black;
            border-collapse: collapse;
            margin: 16px 0;
        }
        .lista td, 
        .lista th {
            border: solid thin black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <header>Tabla de movimientos</header>
    <nav>
        Inicio | Compra |
    </nav>

    <table class="lista">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Q</th>
            <th>To</th>
            <th>Q</th>
            <th>P.U</th>
        </tr>
        <tr>
            <td>dd/mm/yy</td>
            <td>hh:mm:ss</td>
            <td>EUR</td>
            <td>7.625,15</td>
            <td>BTC</td>
            <td>1,00</td>
            <td>7625,15€</td>
        </tr>
    </table>
    <footer> Simulador inversión Cryptos </footer>
</body>
</html>