{% extends "base.html"%}

{% block head_title %}
{{ super() }} : Nuevo movimiento
{% endblock head_title %}

{% block page_title%} 
<h1>Crear nuevo movimiento</h1>
{% endblock page_title %} 

{% block contenido %}  

<form action="" method="post">   
    <div class="campo-formulario">
        <label for="fecha">Fecha</label>
        <input type="date" name="date" id="fecha">
    </div>

    <div class="campo-formulario">
        <label for="hora">Hora</label>
        <input type="time" name="hour" id="hora">
    </div>

    <div class="campo-formulario">
        <label for="moneda_from">From</label>
        <input type="text" name="coin_from" id="moneda_from">
    </div>

    <div class="campo-formulario">
        <label for="cantidad_from">Q</label>
        <input type="number" name="quantity_from" id="cantidad_from">
    </div>

    <div class="campo-formulario">
        <label for="moneda_to">From</label>
        <input type="text" name="coin_to" id="cantidad_to">
    </div>

    <div class="campo-formulario">
        <label for="cantidad_to">Q</label>
        <input type="number" name="quantity_from" id="cantidad_to">
    </div>

    <div class="acciones">
        <button type="submit">Enviar</button>
    </div>

</form>


{% endblock contenido %}  


